
%% Platform-specific installation paths
{platform_bin_dir,   "./bin"}.
{platform_data_dir,  "./data"}.
{platform_etc_dir,   "./etc"}.
{platform_lib_dir,   "./lib"}.
{platform_log_dir,   "./log"}.

%%
%% etc/app.config
%%

%% ecomponent
{xmpp_server_host,  "localhost"}.
{xmpp_server_port,  8912}.
{xmpp_server_pass,  "secret"}.
{max_per_period,    10}.
{period_seconds,    6}.
{xmpp_domain,       "localhost"}.
{component_name,    "bot"}. %% subdomain of jid


